/* ==========================================================================
    Below 960 pixels width
   ========================================================================== */

@media only screen and (max-width: 959px) {

    .wrap {
        padding: 0 5.2rem;
    }

}


/* ==========================================================================
    Below 700 pixels width
   ========================================================================== */

@media only screen and (max-width: 699px) {

    .header {
        text-align: center;
        
        .site-title {
            margin: 0 auto 3rem;
            font-size: 7.2rem;
        }
    }

}


/* ==========================================================================
    Below 650 pixels width (Toast breakpoint)
   ========================================================================== */

@media only screen and (max-width: 649px) {

    .footer {
        .unit {
            text-align: center;
        }
    }

}


/* ==========================================================================
    Between 768 and 480 pixels width
   ========================================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    html {
        font-size: 55%;
    }

    .wrap {
        padding: 0 4rem;
    }

}


/* ==========================================================================
    Below 480 pixels width
   ========================================================================== */

@media only screen and (max-width: 479px) {

    html {
        font-size: 50%;
    }

    .wrap {
        padding: 0 2.5rem;
    }

}
