/* ==========================================================================
    SASS mixins
   ========================================================================== */

// Font size and line height
// Usage example: h1 { @include font-size(2.4, 3.2); }
@mixin font-size($size: 1, $line: $size * 1.4) {
    font-size:    ($size * 10) + px;
    line-height:  ($line * 10) + px;
    font-size:    $size + rem;
    line-height:  $line + rem;
}

// Mouse selection colour (where supported)
// Usage example: @include selection-colour(#ffc096);
@mixin selection-colour($colour) {
    ::-moz-selection {
        background: $colour;
        text-shadow: none;
    }

    ::selection {
        background: $colour;
        text-shadow: none;
    }
}

// Input field placeholder colour (where supported)
// Usage example: @include input-placeholder-colour(#ffc096);
@mixin input-placeholder-colour($colour) {
    ::-webkit-input-placeholder {
        color: $colour;
    }

    :-moz-placeholder {
        color: $colour;
    }

    ::-moz-placeholder {
        color: $colour;
    }

    :-ms-input-placeholder {
        color: $colour;
    }
}

// Rounded corners
// Usage example: .box { @include border-radius(1rem); }
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
         -o-border-radius: $radius;
            border-radius: $radius;
}

// Transition
// Usage example: a { @include transition(all, .4s, ease); }
@mixin transition($property: all, $duration: .2s, $timing: linear) {
    -webkit-transition: $property $duration $timing;
       -moz-transition: $property $duration $timing;
        -ms-transition: $property $duration $timing;
         -o-transition: $property $duration $timing;
            transition: $property $duration $timing;
}

// Box-sizing
// Usage example: div { @include box-sizing(border-box); }
@mixin box-sizing($type) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
            box-sizing: $type; 
}

// Rotation
// Usage example: div { @include rotation(-90); }
@mixin rotation($value) {
    -webkit-transform: rotate($value + deg);
       -moz-transform: rotate($value + deg);
        -ms-transform: rotate($value + deg);
         -o-transform: rotate($value + deg);
            transform: rotate($value + deg);
}

// Opacity
// Usage example: div { @include opacity(8.5); }
@mixin opacity($value) {
    $index1: $value * 10;
    $index2: $value / 10;
    zoom: 1;
    filter: alpha(opacity=$index1);
    opacity: $index2;
}

// Background size
// Usage example: div { @include background-size(cover); }
@mixin background-size($value) {
    -webkit-background-size: $value;
       -moz-background-size: $value;
         -o-background-size: $value;
            background-size: $value;
}
